<?xml version="1.0"?>

<model>
  <name>Double pendulum with motors</name>
  <version>1.0</version>
  <!--<sdf version="1.4">model.sdf</sdf>-->
  <sdf>model.urdf</sdf>

  <author>
    <name>IIT RBCS Department</name>
    <email></email>
  </author>

  <description>
    A double pendulum with rectangular shapes and rotation on the x axis.
    The pendulum is attached to a heavy base that rests on the ground.
  </description>

</model>
