Alberto Cardellino <alberto.cardellino@iit.it> <alberto.carde@gmail.com>
Alessandro Settimi <ale.settimi@gmail.com>
Alessio Rocchi <alessio.rocchi@iit.it> <Alessio.Rocchi@iit.it>
Daniele Pucci <daniele.pucci@iit.it> <daniele.pucci85@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <daniele.domenichelli@gmail.com>
Daniele E. Domenichelli <daniele.domenichelli@iit.it> <ddomenichelli@kde.org>
Elena Ceseracciu <elena.ceseracciu@iit.it> <eowyn83@gmail.com>
Enrico Mingo <enrico.mingo@iit.it>
Enrico Mingo <enrico.mingo@iit.it> <Enrico.Mingo@iit.it>
Enrico Mingo <enrico.mingo@iit.it> <enricomingo@gmail.com>
Francesco Romano <francesco.romano.1987@gmail.com>
Francesco Romano <francesco.romano.1987@gmail.com> <makaveli@Makas-iMac.local>
Jorhabib Eljaik <jorhabib@gmail.com>
Lorenzo Natale <lorenzo.natale@iit.it> <lornat75@gmail.com>
Marco Randazzo <marco.randazzo@iit.it>
Marco Randazzo <marco.randazzo@iit.it> <amarco.randazzo@iit.it>
Marco Randazzo <marco.randazzo@iit.it> <randaz81@gmail.com>
Miguel Aragao <miguelaragao91@gmail.com>
Mirko Ferrati <mirko.ferrati@gmail.com> <mirko8787@gmail.com>
Silvio Traversaro <silvio.traversaro@iit.it>
Silvio Traversaro <silvio.traversaro@iit.it> <pegua1@gmail.com>
