<?xml version="1.0"?>

<model>
  <name>Gazebo Yarp Model Pose Publisher plugin</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  
  <description>
    Scenario with a box. Its global pose can be obtained
    using the Gazebo Yarp Model Pose Publisher plugin.
  </description>
</model>
