<?xml version="1.0"?>

<model>
  <name>Cube with gazebo_yarp_contactforcetorques plugin</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Silvio Traversaro</name>
    <email>silvio.traversaro@iit.it</email>
  </author>

  <description>
    A simple cube that publishes its contact force using the gazebo_yarp_contactforcetorques plugin.
  </description>
</model>
