<?xml version="1.0"?>

<model>
  <name>Single pendulum</name>
  <version>1.0</version>
  <sdf>model.urdf</sdf>

  <author>
    <name>Italian Institute of Technology</name>
    <email></email>
  </author>

  <description>
    A single pendulum with rectangular shape and rotation on the x axis.
    The pendulum is attached to a heavy base that rests on the ground.
  </description>

</model>
