<?xml version="1.0"?>

<model>
  <name>MultiCamera</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Daniele E. Domenichelli</name>
    <email>daniele.domenichelli@iit.it</email>
  </author>

  <description>
    A simple multicamera using YARP plugins.
  </description>
</model>
