<?xml version='1.0'?>
<database>
<name>gazebo_yarp_plugins examples Database</name>
<license>Creative Commons Attribution 3.0 Unported</license>
<models>
<uri>file://double_pendulum</uri>
<uri>file://coupled_pendulum</uri>
<uri>file://single_pendulum</uri>
<uri>file://video_texture</uri>
<uri>file://camera</uri>
<uri>file://depthcamera</uri>
<uri>file://laser</uri>
<uri>file://multicamera</uri>
<uri>file://worldInterface</uri>
</models>
</database>
