<?xml version="1.0"?>

<model>
  <name>BaseState</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Alessandro Croci</name>
    <email>alessandro.croci@iit.it</email>
  </author>

  <description>
    A simple model to demonstrate to gazebo_yarp_basestate.
  </description>
</model>
