<?xml version="1.0"?>

<model>
  <name>ForceTorque</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Silvio Traversaro</name>
    <email>silvio.traversaro@iit.it</email>
  </author>

  <description>
    A simple model with an forcetorque sensor exposed via YARP plugins.
  </description>
</model>
